%flex-box {
    display: flex;
    align-items: center;
}

ul {
    @extend %flex-box;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.main {
    @extend %flex-box;
    gap: 30px;
    justify-content: space-around;

    p {
        width: 300px;
        border: 1px solid black;
        padding: 20px;
    }
}