@media (max-width:576px) {
    header .navbar .nav {
        display: none;
    }

    .heroimg .herotext {
        padding: 100px 0;
    }

    .heroimg .herotext h1 {
        width: 100%;
    }

    .expsection .expertbox {
        flex-direction: column;
    }

    .expsection .expertbox .exp {
        padding: 0;
    }

    .title p {
        width: 100%;
    }

    .projdetails .projdata {
        grid-template-columns: repeat(2, 1fr);
    }

    .Service .servicedetails {
        grid-template-columns: repeat(1, 1fr);
    }

    footer .footer .footerdata {
        grid-template-columns: repeat(1, 1fr);
    }

    footer .topfooter {
        flex-direction: column;
    }

    footer .footer {
        padding-top: 100px;
    }
}

/* ============================================================ */
@media (min-width:576px) {
    .boxlayout {
        max-width: 550px;
    }

    header .navbar .nav {
        display: none;
    }

    .heroimg .herotext {
        padding: 100px 0;
    }

    .heroimg .herotext h1 {
        width: 100%;
    }

    .expsection .expertbox {
        flex-direction: column;
    }

    .expsection .expertbox .exp {
        padding: 0;
    }

    .projdetails .projdata {
        grid-template-columns: repeat(2, 1fr);
    }

    .Service .servicedetails {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .footer .footerdata {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .topfooter {
        flex-direction: column;
    }
}

/* ============================================================ */
@media (min-width:768px) {
    .boxlayout {
        max-width: 740px;
    }

    .heroimg .herotext {
        padding: 150px 0;
    }

    .expsection .expertbox {
        flex-direction: row;
    }

    .projdetails .projdata {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ============================================================ */
@media (min-width:992px) {
    .boxlayout {
        max-width: 960px;
    }

    header .navbar .nav {
        display: flex;
    }

    header .navbar .menubtn {
        display: none;
    }

    .heroimg .herotext h1 {
        width: 700px;
    }

    .Service .servicedetails {
        grid-template-columns: repeat(3, 1fr);
    }

    footer .footer .footerdata {
        grid-template-columns: repeat(4, 1fr);
    }

    footer .topfooter {
        flex-direction: row;
    }
}

/* ============================================================ */
@media (min-width:1200px) {
    .boxlayout {
        max-width: 1140px;
    }

    .heroimg .herotext {
        padding: 200px 0;
    }

    .expsection .expertbox .exp {
        padding: 20px 50px;
    }
}

/* ============================================================ */
@media (min-width:1400px) {
    .boxlayout {
        max-width: 1340px;
    }
}