* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.boxlayout {
    margin: auto;
    padding: 0 10px;
}

:root {
    --font1: calc(3vw + 20px);
    --font2: calc(2vw + 20px);
}

.btn {
    font-size: 18px;
    background: #1869da;
    color: white;
    border-radius: 6px;
    border: 1px solid transparent;
}

/* ======================================== */

header .navbar {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header .navbar .logo {
    text-transform: uppercase;
    font-size: 35px;
    flex: 1;
}

header .navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

header .navbar .nav ul {
    display: flex;
    gap: 20px;
}

header .navbar .nav ul li {
    padding: 10px;
}

header .navbar .nav ul li a {
    color: black;
}

header .navbar .navbtn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid gray;
}

header .navbar .menubtn {
    height: 40px;
    width: 40px;
    font-size: 22px;
    border: 1px solid black;
    background-color: transparent;
}

/* ==================================== */
.heroimg {
    background: url(https://preview.colorlib.com/theme/pivot/img/slider-1.jpg.webp) center / cover rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

}

.heroimg .herotext {
    padding: 200px 0;
    text-align: center;
}

.heroimg .herotext h1 {
    font-size: var(--font1);
    color: white;
    text-align: center;
    margin: auto;
    width: 700px;
    line-height: 66px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.heroimg .herotext .btn {
    padding: 15px 30px;
    text-transform: uppercase;
}

/* ================================================= */
.expsection .expertbox {
    padding: 50px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.expsection .expertbox .exp {
    flex: 1;
    padding: 20px 50px;
}

.expsection .expertbox .exp h1 {
    font-size: 37px;
    padding-bottom: 10px;
}

.expsection .expertbox .exp .line {
    height: 2px;
    width: 100px;
    background-color: #0659a8;
    margin: 20px 0;
}

.expsection .expertbox .exp p {
    color: gray;
    line-height: 25px;
    padding: 10px 0;
}

.expsection .expertbox .img {
    flex: 1;
}

.expsection .expertbox img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
.projdetails .space {
    padding: 50px 0;
}

.projdetails .title {
    text-align: center;
}

.projdetails .title h1 {
    font-size: var(--font2);
    padding-bottom: 10px;
}

.projdetails .title h1::after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #1869da;
    display: block;
    margin: 30px auto;
}

.projdetails .title p {
    width: 500px;
    margin: auto;
    line-height: 30px;
    padding-bottom: 20px;
}

.projdetails .title .btn {
    padding: 15px 30px;
}