* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.boxlayout {
    margin: auto;
    padding: 0 10px;
}

:root {
    --font1: calc(3vw + 20px);
    --font2: calc(2vw + 20px);
}

.btn {
    font-size: 18px;
    background: #1869da;
    color: white;
    border-radius: 6px;
    border: 1px solid transparent;
}

.space {
    padding: 50px 0;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: var(--font2);
    padding-bottom: 10px;
}

.title h1::after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #1869da;
    display: block;
    margin: 30px auto;
}

.title p {
    width: 500px;
    margin: auto;
    line-height: 30px;
    padding-bottom: 20px;
}

/* ======================================== */

header .navbar {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header .navbar .logo {
    text-transform: uppercase;
    font-size: 35px;
    flex: 1;
}

header .navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

header .navbar .nav ul {
    display: flex;
    gap: 20px;
}

header .navbar .nav ul li {
    padding: 10px;
}

header .navbar .nav ul li a {
    color: black;
}

header .navbar .navbtn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid gray;
}

header .navbar .menubtn {
    height: 40px;
    width: 40px;
    font-size: 22px;
    border: 1px solid black;
    background-color: transparent;
}

/* ==================================== */
.heroimg {
    background: url(https://preview.colorlib.com/theme/pivot/img/slider-1.jpg.webp) center / cover rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

}

.heroimg .herotext {
    padding: 200px 0;
    text-align: center;
}

.heroimg .herotext h1 {
    font-size: var(--font1);
    color: white;
    text-align: center;
    margin: auto;
    width: 700px;
    line-height: 66px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.heroimg .herotext .btn {
    padding: 15px 30px;
    text-transform: uppercase;
}

/* ================================================= */
.expsection .expertbox {
    padding: 50px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.expsection .expertbox .exp {
    flex: 1;
    padding: 20px 50px;
}

.expsection .expertbox .exp h1 {
    font-size: 37px;
    padding-bottom: 10px;
}

.expsection .expertbox .exp .line {
    height: 2px;
    width: 100px;
    background-color: #0659a8;
    margin: 20px 0;
}

.expsection .expertbox .exp p {
    color: gray;
    line-height: 25px;
    padding: 10px 0;
}

.expsection .expertbox .img {
    flex: 1;
}

.expsection .expertbox img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
.projdetails .title .btn {
    padding: 15px 30px;
}

.projdetails .projdata {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.projdetails .projdata .project {
    overflow: hidden;
    position: relative;
}

.projdetails .projdata .project .projimg img {
    max-width: 100%;
    scale: 1.2;
    transition: .5s ease-in-out;
    vertical-align: middle;
}

.projdetails .projdata .project:hover img {
    scale: 1;
}

.projdetails .projdata .project .protext {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.projdetails .projdata .project .protext .text {
    transition: 0.5s ease-in-out;
    transform: translateY(60px);
    opacity: 0;
}

.projdetails .projdata .project .protext h3 {
    transform: translateY(140px);
}

.projdetails .projdata .project:hover .protext {
    background: #00000087;
}

.projdetails .projdata .project:hover .text {
    transform: translateY(0);
    opacity: 1;
}

/* ================================================================== */
.Service {
    background-color: #f0f5f7;
}

.Service .servicedetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.Service .servicedetails .services {
    padding: 50px 30px;
    background-color: white;
    text-align: center;
    border-bottom: 10px solid transparent;
    transition: 0.5s ease;
}

.Service .servicedetails .services i {
    font-size: 50px;
}

.Service .servicedetails .services h3 {
    padding: 10px 0;
}

.Service .servicedetails .services p {
    padding-bottom: 25px;
}

.Service .servicedetails .services button {
    background: transparent;
    padding: 10px;
    border: 2px solid #0659a8;
    color: #0659a8;
}

.Service .servicedetails .services:hover {
    border-bottom: 10px solid #0659a8;
    box-shadow: 0 0 5px #cfcfcf;
    transform: translateY(-5px);
}

/* =========================================================  */
footer {
    position: relative;
}

footer .topfooter {
    position: absolute;
    width: 80%;
    background-color: #0659a8;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .topfooter h2 {
    color: white;
    font-weight: 500;
}

footer .topfooter button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 6px;
    text-transform: uppercase;
    transition: 0.4s ease-in;
}

footer .topfooter button:hover {
    color: black;
    background-color: white;
}

footer .footer {
    background-color: rgb(39, 39, 39);
    padding-top: 60px;
}

footer .footer .footerdata {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

footer .footer .footerdata .data {
    color: white;
}

footer .footer .footerdata .data .ftext {
    padding-bottom: 15px;
}

footer .footer .footerdata .data .label {
    color: gray;
}

footer .footer .footerdata .data h3 {
    padding-bottom: 10px;
}

footer .footer .footerdata .data a {
    color: gray;
}

footer .footer .footerdata .data li {
    padding: 5px 0;
}

footer .footer .footerdata .data .social {
    display: flex;
    gap: 10px;
}

footer .footer .footerdata .data .social .icon {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    display: grid;
    place-content: center;
    border-radius: 50%;
}